<div fxLayout="column" fxLayoutAlign="center">
    <mat-card>
        <mat-card-header>
            <strong>
             Reaction : {{acrea[0].acrea_name}} 
            </strong>
        </mat-card-header>
        <br>
        <mat-card-subtitle>
            {{acrea[0].acrea_description}}
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="formGroups_1">
                <mat-form-field appearance="outline">
                    <mat-label>Votre Message</mat-label>
                    <input matInput formControlName="Message"  name = "Message"  required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="sendOne()">Utiliser</button>
    </mat-card>
</div>
