.form-card {
    max-width: 250px;
    background: aliceblue;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
  }

.register-wrapper .title {
  font-size: 30px;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 450;
}

.register-wrapper {
  height: 100%;
  margin-left:auto;
  margin-right:auto;
}

mat-card {
  margin: 2em auto;
  text-align: center;
}

.mat-card-header {
  margin : 20px 0px;
  padding: 0;
}

.register-wrapper .mat-card {
  padding: 30px 40px 30px;
}