<div class="forgot-password" fxLayout="row" fxLayout="center center">
    <mat-card class="box">
        <mat-card-header>
            Mot de passe oublié
        </mat-card-header>
        <form class="ChangePasswordForm">
            <mat-card-content>
                <mat-form-field appearance="outline" [(ngModel)]="log.username" class="User">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field appearance="outline" [(ngModel)]="log.password" class="Password">
                    <mat-label>Nouveau mot de passe</mat-label>
                    <input matInput placeholder="Nouveau mot de passe">
                </mat-form-field>
                <mat-form-field appearance="outline" [(ngModel)]="log.confirmPassword" class="ConfirmPassword">
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <input matInput placeholder="Confirmer le mot de passe">
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button class="btn-block">Changer de mot de passe</button>
        </form>
    </mat-card>
</div>