mat-card {
  background-color: aliceblue;
  max-width: 325px;
  max-height: 200px;
  min-width: 325px;
  min-height: 200px;
}
img {
  max-width: 115px;
  max-height: 115px;
  min-width: 110px;
  min-height: 110px;
  padding-left: 110px;
}
button {
  width: 325px;
}

