<div class="presentation" fxLayout="column"  fxLayoutAlign="center stretch">

    <mat-card class="box">

        <mat-card-header class="title">
            <mat-card-title>Développeur :</mat-card-title>
        </mat-card-header>

        <form class="pres">

            <mat-card-content>

                <h3>Back end : Arthur AZIBI et Steven ZABANDITH</h3>
                <h3>Front Web : Danny DUONG</h3>
                <h3>Front Mobile : Henry NGUYEN</h3>
                <h3>Responsable Front : Loic PLANCHON</h3>

            </mat-card-content>

        </form>

    </mat-card>

</div>
