<!-- <div fxLayout="column" fxLayoutAlign="center">
    <mat-card>
         <mat-card-header>
             <strong>
                 {{acrea[0].acrea_name}} 
             </strong>
         </mat-card-header>
         <br>
         <mat-card-subtitle>
             {{acrea[0].acrea_description}}
         </mat-card-subtitle>
         <mat-card-content>
             <form>
                 <mat-form-field appearance="outline">
                     <mat-label>Ville</mat-label>
                     <input matInput  name = "Ville"  required>
                 </mat-form-field>

                 <mat-form-field appearance="outline" >
                     <mat-label>Symbole de comparaison</mat-label>
                     <input matInput  name = "Symbole"  required>
                 </mat-form-field>
 
                 <mat-form-field appearance="outline" >
                     <mat-label>degré</mat-label>
                     <input matInput  name = "degré" required>
                 </mat-form-field>
             </form>
         </mat-card-content>
         <button mat-raised-button color="primary">Use</button>
     </mat-card> -->
