html,
body {
  height: 100%;
}

.login-wrapper {
  height: 100%;
}
.box {

  background: aliceblue;
  width: 350px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
}

mat-card {
  margin: 2em auto;
  text-align: center;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}
.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.mat-card-header {
  margin : 20px 0px;
  padding: 0;
}

.login-wrapper .mat-card {
  padding: 30px 40px 30px;
}
.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}

.btn-block{
  background-color: rgb(32, 112, 233);
  color: white;
}
:host ::ng-deep .mat-input-underline {
  background-color: white;
}
.mat-progress-spinner {
    position: center;
    left: 45%;
    top: 30%;
}